.jumbotron {
    background-color: white;
    padding: 0px;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
    text-align: center;
}

h2{
    position: absolute;
    bottom: 10%;
    left:25%;
    width: 100%;
    background-color: white;
}

h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    text-align: center;
}

#introText {
    text-align: center;
}

#projectimg {
    position: relative;
    margin-top: 15px;
}

.col-lg-4 {
    padding: 3px;
}

#git {
    height: 50px;

}

#linked {
    height: 55px;

}

#resume {
    height: 52px;

}

#email {
    height: 55px;
}

#gitlink {
    position: absolute;
    height: 35px;
    Top: 10%;
    right:2%;
    background-color: white;
}