.jumbotron {
    background-color: white;
    padding: 0px;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
    text-align: center;
}

h2{
    position: absolute;
    bottom: 10%;
    left:25%;
    width: 75%;
    background-color: white;

}

h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    text-align: center;
}

#introText {
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
}

#projectimg {
    position: relative;
    margin-top: 15px;
}

.col-lg-4 {
    padding: 3px;
}

#git {
    height: 50px;
    margin-left: 42%;
    margin-right: 58%;
    margin-bottom: 3%;
}

#linked {
    height: 55px;
    margin-left: 42%;
    margin-right: 58%;
    margin-bottom: 3%;
}

#resume {
    height: 52px;
    margin-left: 43%;
    margin-right: 57%;
    margin-bottom: 3%;
}

#email {
    height: 55px;
    margin-left: 42%;
    margin-right: 58%;
    margin-bottom: 3%;
}

#gitlink {
    position: absolute;
    height: 35px;
    Top: 10%;
    right:5%;
    background-color: white;
}

.col-lg-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}